:root{
    --main-bg-color: brown;
}
.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.max-width-3{
    max-width: 90vw;
}

.m-auto{
    margin: auto;
}

.font1{
    font-family: 'Ubuntu', sans-serif;
}

.font2{
    font-family: 'Roboto', sans-serif;
}

.form-input{
    padding: 6px 9px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 7px;
    margin: 0px 12px;
}

.btn{
    padding: 6px 6px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 7px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: rgb(152, 185, 247);
}